.image-text-heading {
    background-image: url('Screenshot\ 2023-10-17\ 225708.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 20px; 
  }
  